---
import { Image } from "@astrojs/image/components";

// props
const { name, location, image, content } = Astro.props;
---

<div class="w-80 border border-stone-400/60 bg-white px-6 py-8 sm:w-96 sm:p-8 lg:w-[512px] lg:p-10">
    <div class="flex">
        <div class="h-12 w-12 shrink-0 bg-stone-100 lg:h-14 lg:w-14">
            <Image class="object-cover object-center" width="50" height="50" src={import(`../../assets/images/${image}`)} alt={name} />
        </div>

        <div class="ml-4">
            <p class="text-md font-medium text-stone-900 lg:text-lg">{name}</p>
            <p class="text-stone-600/90 sm:text-md lg:text-lg">{location}</p>
        </div>
    </div>

    <p class="mt-4 text-base font-light leading-relaxed text-stone-700 lg:mt-6">
        {content}
    </p>
</div>
